@page "/"

<h1 class="text-center">Hello there!</h1>

<div class="container" style="height: 800px;">
    <div class="text-center">
        <p>This is a simple Blazor web app that I made as my first introduction to Blazor.</p>
        <p>Navigate with the top bar.</p>
    </div>
</div>
